.shorten {
  height: 8rem;
  margin: auto 8rem;
  background: url("/images/bg-shorten-desktop.svg"), #3b3054;
  border-radius: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 900px) {
    height: 12rem;
    margin: auto 1rem;
  }

  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.8rem;
    width: 100%;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      padding: 0 1rem;
    }

    .shorten-btn {
      color: #f5f5f5;
      background: #2acfcf;
      border-radius: 6px;
      margin-left: 18px;
      padding: 0.5rem 1rem;
      width: 12rem;
      font-weight: bold;
      cursor: pointer;
      transition: 0.2s all ease-in;
      font-size: 1rem;
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }
      @media screen and (max-width: 900px) {
        width: 100%;
        margin: 3rem 0 0.5rem 0;
      }
    }

    input {
      border-radius: 6px;
      width: 100%;
      padding: 0.5rem 2rem;
      outline: none;
      @media screen and (max-width: 900px) {
        padding: 0.5rem 1rem;
      }

      &::placeholder {
        color: #9d9aa7;
      }
    }
    .error {
      border: 2px solid #f46262;
      color: #f46262;
      @media screen and (max-width: 900px) {
        border: 4px solid #f46262;
      }
    }
  }
  small {
    color: #f96262;
    margin-top: 15px;
    margin-left: 30px;
    position: absolute;
    bottom: 0.4rem;
    left: 0;
    @media screen and (max-width: 900px) {
      bottom: 5.4rem;
      margin-left: 18px;
    }
  }
}
