.box {
  background-color: #fff;
  border-radius: 5px;
  text-align: left;
  padding: 1rem 1rem 2rem 1rem;
  width: 31%;
  @media screen and (max-width: 900px) {
    width: 100%;
    text-align: center;
  }
  .box-icon {
    background-color: #3b3054;
    border-radius: 50%;
    width: 86px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-70%);
    margin-bottom: -1.5rem;
    @media screen and (max-width: 900px) {
      margin: 0 auto -2rem auto;
    }
  }

  h3 {
    font-weight: bold;
    margin-bottom: 1rem;
    @media screen and (max-width: 900px) {
      font-size: 1.5rem;
    }
  }
  p {
    font-size: 0.8rem;
    @media screen and (max-width: 900px) {
      font-size: 1rem;
    }
  }
}
